* {
    background:                     #01162700;
    background-alt:                 #0585C600;
    foreground:                     #ffffff;
    border:               	        #ffffff;
    border-alt:               	    #ffffff00;
    selected:               	      #f2f2f215;
    urgent:                         #0F131AFF;
}
