* {
    background:                     #3b4252;
    background-alt:                 #2e3440;
    foreground:                     #ffffff;
    border:               	        #82aaff;
    border-alt:               	    #82aaff;
    selected:               	      #82aaff;
    urgent:                         #0F131AFF;
}
